@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
	background: #212121;
	height: 100%;
}

.card {
	position: absolute;
	background: #313131;
	left: 20%;
}

button:hover {
	background: #4bffde;
	color: #071e3d;
}
